.mac-book-pro169-container {
  min-height: 100vh;
}
.mac-book-pro169-mac-book-pro169 {
  width: 100%;
  height: 3898px;
  display: flex;
  overflow: hidden;
  position: relative;
  max-width: 1728px;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  border-radius: 0px 0px 0px 0px;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro169-rectangle10 {
  top: 0px;
  left: 0px;
  width: 1728px;
  height: 1117px;
  display: none;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-frame1 {
  top: 23.99994659423828px;
  left: -68.99958038330078px;
  width: 2093px;
  height: 1294.33349609375px;
  display: flex;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.mac-book-pro169-ellipse335 {
  top: 1289.2607421875px;
  left: 2093.47509765625px;
  width: 689px;
  height: 348px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-ellipse3 {
  top: 987.8024291992188px;
  left: 542.4712524414062px;
  width: 538px;
  height: 177px;
  opacity: 0.30;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-ellipse5 {
  top: 15.802420616149902px;
  left: 1890.4713134765625px;
  width: 538px;
  height: 177px;
  opacity: 0.30;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-group843 {
  top: 536.0000610351562px;
  left: 179.9995880126953px;
  width: 499px;
  height: 236px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-group840 {
  top: 0px;
  left: 0px;
  width: 404px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-group839 {
  top: 7px;
  right: -74px;
  width: 403px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(235, 243, 255, 1);
}
.mac-book-pro169-text {
  top: 4px;
  left: 10px;
  color: rgb(45, 45, 45);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-group834 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro169-suitcase2 {
  top: 11px;
  left: 11px;
  width: 38px;
  height: 38px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.mac-book-pro169-group841 {
  top: 90px;
  left: 0px;
  width: 479px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-group838 {
  top: 4px;
  left: 78px;
  width: 399px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(235, 243, 255, 1);
}
.mac-book-pro169-text01 {
  top: 3px;
  left: 10px;
  color: rgb(45, 45, 45);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-group835 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro169-pencilcase {
  top: 10px;
  left: 11px;
  width: 38px;
  height: 38px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.mac-book-pro169-group842 {
  top: 176px;
  left: 0px;
  width: 499px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-group837 {
  top: 7px;
  left: 78px;
  width: 408px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(235, 243, 255, 1);
}
.mac-book-pro169-text02 {
  top: 2px;
  left: 9px;
  color: rgb(45, 45, 45);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-group836 {
  top: 0px;
  left: 0px;
  width: 60px;
  height: 60px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro169-help2 {
  top: 11px;
  left: 11px;
  width: 38px;
  height: 38px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.mac-book-pro169-group854 {
  top: 826.0000610351562px;
  left: 170.9995880126953px;
  width: 245px;
  height: 75px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-rectangle9 {
  top: 0px;
  left: 1px;
  width: 244px;
  height: 75px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  border-radius: 20px;
}
.mac-book-pro169-text03 {
  top: 17px;
  left: 45px;
  color: rgb(255, 255, 255);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Poppins;
  font-weight: 700;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-biarrowright {
  top: 18px;
  left: 159px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-group855 {
  top: 917.0000610351562px;
  left: 202.9995880126953px;
  width: 223px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-text04 {
  top: -1px;
  color: rgb(45, 45, 45);
  right: -58px;
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-creditcard91 {
  top: 2px;
  left: 0px;
  width: 40px;
  height: 40px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.mac-book-pro169-group833 {
  top: 143.99998474121094px;
  left: 129.9995880126953px;
  width: 711.9995727539062px;
  height: 334.00006103515625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-ellipse2 {
  top: 15.802421569824219px;
  left: 542.4712524414062px;
  width: 538px;
  height: 177px;
  opacity: 0.30;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-text05 {
  top: 111.00005340576172px;
  left: 49.99958419799805px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 54.43307113647461px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-emoji {
  top: 170.0000457763672px;
  left: 395.99957275390625px;
  width: 49px;
  height: 49.17013931274414px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-vector {
  top: 0px;
  left: 0px;
  width: 49px;
  height: 49px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-vector1 {
  top: 9.674687385559082px;
  left: 13.018745422363281px;
  width: 28px;
  height: 30px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-vector2 {
  top: 16.197193145751953px;
  left: 21.77766227722168px;
  width: 11px;
  height: 12px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-group853 {
  top: 167.0000457763672px;
  left: 884.9995727539062px;
  width: 814.9854125976562px;
  height: 692.0001220703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-vector3 {
  top: 156px;
  left: 66px;
  width: 187px;
  height: 191px;
  position: absolute;
  box-sizing: content-box;
}
.mac-book-pro169-vector4 {
  top: 84.8502197265625px;
  left: 342.4140625px;
  width: 356px;
  height: 159px;
  position: absolute;
  box-sizing: content-box;
}
.mac-book-pro169-vector5 {
  top: 467px;
  left: 66px;
  width: 568px;
  height: 198px;
  position: absolute;
  box-sizing: content-box;
}
.mac-book-pro169-vector6 {
  top: 297px;
  left: 708px;
  width: 60px;
  height: 280px;
  position: absolute;
  box-sizing: content-box;
}
.mac-book-pro169-group844 {
  top: 67px;
  left: 239.560546875px;
  width: 149.98541259765625px;
  height: 102.6134033203125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-text12 {
  top: 64.8900146484375px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 13.887539863586426px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Myanmar Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-text14 {
  top: 84.457275390625px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 15.623482704162598px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-uxdesign1 {
  top: 0px;
  left: 45.439453125px;
  width: 60px;
  height: 60px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.mac-book-pro169-group845 {
  top: 173px;
  left: 664.8662109375px;
  width: 150.11920166015625px;
  height: 101.1561279296875px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-text16 {
  top: 64.782470703125px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 13.887539863586426px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Myanmar Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-text18 {
  top: 83px;
  left: 0.1337890625px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 15.623482704162598px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-prototyping2 {
  top: 0px;
  left: 43.1337890625px;
  width: 60px;
  height: 60px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.mac-book-pro169-group846 {
  top: 354px;
  left: 0px;
  width: 131.6332244873047px;
  height: 99.9073257446289px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-text20 {
  top: 64.1668701171875px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 12.188262939453125px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Myanmar Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-text22 {
  top: 83.9727783203125px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 15.619999885559082px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-wireframe2 {
  top: 0px;
  left: 36px;
  width: 60px;
  height: 60px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.mac-book-pro169-group847 {
  top: 588px;
  left: 617.99609375px;
  width: 149.98541259765625px;
  height: 104.0001220703125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-text24 {
  top: 67.276611328125px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 13.887539863586426px;
  align-self: auto;
  font-style: Bold;
  text-align: center;
  font-family: Myanmar Text;
  font-weight: 700;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-stylesheet1 {
  top: 0px;
  left: 41.00390625px;
  width: 60px;
  height: 60px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
}
.mac-book-pro169-text26 {
  top: 85.843994140625px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 15.623482704162598px;
  align-self: auto;
  font-style: ExtraBold;
  text-align: center;
  font-family: MuseoModerno;
  font-weight: 800;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-group851 {
  top: 600.95751953125px;
  left: 49.525390625px;
  width: 216.474609375px;
  height: 88.04251098632812px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-polygon1 {
  top: 25.986116409301758px;
  left: 0px;
  width: 42px;
  height: 36px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-group848 {
  top: 37.042510986328125px;
  left: 36.474609375px;
  width: 180px;
  height: 51px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(62, 14, 255, 0.4300000071525574);
}
.mac-book-pro169-text28 {
  top: 4px;
  left: 16px;
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 18px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-group850 {
  top: 0px;
  left: 536px;
  width: 209.99993896484375px;
  height: 78.60400390625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-polygon2 {
  top: 78.60400390625px;
  left: 22.84662628173828px;
  width: 33px;
  height: 28px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-group849 {
  top: 0px;
  left: 29.99994659423828px;
  width: 180px;
  height: 51px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(252, 169, 59, 0.4300000071525574);
}
.mac-book-pro169-text30 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-rectangle18 {
  top: 494px;
  left: -967px;
  width: 1731px;
  height: 2788px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-ellipse336 {
  top: 1320.802490234375px;
  left: 659.4716796875px;
  width: 538px;
  height: 177px;
  opacity: 0.30;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-ellipse337 {
  top: 1625.802490234375px;
  left: 940.4716796875px;
  width: 538px;
  height: 177px;
  opacity: 0.30;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-line1 {
  top: 1207px;
  left: 167px;
  width: 1530px;
  height: 0px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-group852 {
  top: 378.36688232421875px;
  left: 1043.9996337890625px;
  width: 504.29150390625px;
  height: 359.80743408203125px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-rectangle12 {
  top: 0px;
  left: 0px;
  width: 504px;
  height: 360px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(255, 255, 255, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 28.055160522460938px;
}
.mac-book-pro169-biplaycirclefill {
  top: 142.3800048828125px;
  left: 226.5458984375px;
  width: 76px;
  height: 76px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-group8521 {
  top: 1298px;
  left: 911px;
  width: 209.99993896484375px;
  height: 78.60400390625px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-polygon21 {
  top: 78.60400390625px;
  left: 22.84662628173828px;
  width: 33px;
  height: 28px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-group8491 {
  top: 0px;
  left: 29.99994659423828px;
  width: 180px;
  height: 51px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(252, 169, 59, 0.4300000071525574);
}
.mac-book-pro169-text32 {
  color: rgba(0, 0, 0, 1);
  height: auto;
  position: absolute;
  font-size: 15px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-group8401 {
  top: 1363px;
  left: 111px;
  width: 270px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(235, 243, 255, 1);
}
.mac-book-pro169-text34 {
  top: 3px;
  left: 9px;
  color: rgb(0, 0, 0);
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: 40px;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-text35 {
  top: 1442px;
  left: 111px;
  color: rgb(45, 45, 45);
  width: 100%;
  height: auto;
  position: absolute;
  font-size: 22px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 46.9331px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro169-rectangle525 {
  top: 1407px;
  left: 935px;
  width: 677px;
  height: 391px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 43.420833587646484px;
  margin-bottom: 0;
}
.mac-book-pro169-group832 {
  top: -1.75860595703125px;
  left: 0px;
  width: 1728px;
  height: 123.75857543945312px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 1);
}
.mac-book-pro169-group733 {
  top: 50.22029495239258px;
  left: 729.3974609375px;
  width: 926.3995971679688px;
  height: 25.118595123291016px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-text51 {
  top: 0.5359414219856262px;
  color: var(--dl-color-default-grey);
  height: auto;
  position: absolute;
  font-size: 15.157894134521484px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-text53 {
  top: 0.00000541310782864457px;
  left: 753.599609375px;
  color: var(--dl-color-default-grey);
  height: auto;
  position: absolute;
  font-size: 15.157894134521484px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-text55 {
  top: 0.5359414219856262px;
  left: 376.7998046875px;
  color: var(--dl-color-default-grey);
  height: auto;
  position: absolute;
  font-size: 15.157894134521484px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-text57 {
  top: 0.00000541310782864457px;
  left: 188.400390625px;
  color: var(--dl-color-default-grey);
  height: auto;
  position: absolute;
  font-size: 15.157894134521484px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-text59 {
  top: 0.5359414219856262px;
  left: 565.2001953125px;
  color: var(--dl-color-default-grey);
  height: auto;
  position: absolute;
  font-size: 15.157894134521484px;
  align-self: auto;
  font-style: SemiBold;
  text-align: center;
  font-family: Poppins;
  font-weight: 600;
  line-height: normal;
  font-stretch: normal;
  text-decoration: none;
}
.mac-book-pro169-s-k-y-g-o-a-l-l-o-g-o-p-n-g3 {
  top: 4px;
  left: 98px;
  width: 124px;
  height: 116px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-v-t-simg0050112 {
  top: 1341px;
  left: 1095px;
  width: 414px;
  height: 457px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle526 {
  top: 1540px;
  left: 900px;
  width: 182px;
  height: 134px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle527 {
  top: 1540px;
  left: 900px;
  width: 182px;
  height: 27px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px 10px 0 0;
  margin-bottom: 0;
}
.mac-book-pro169-ellipse338 {
  top: 1551px;
  left: 914px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-ellipse339 {
  top: 1551px;
  left: 924px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-ellipse340 {
  top: 1551px;
  left: 934px;
  width: 6px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle528 {
  top: 1598px;
  left: 914px;
  width: 84px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle529 {
  top: 1610px;
  left: 914px;
  width: 60px;
  height: 6px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle530 {
  top: 1628px;
  left: 914px;
  width: 73px;
  height: 4px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle532 {
  top: 1642px;
  left: 914px;
  width: 73px;
  height: 4px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle533 {
  top: 1649px;
  left: 914px;
  width: 73px;
  height: 4px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle531 {
  top: 1635px;
  left: 914px;
  width: 65px;
  height: 4px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-text61 {
  top: 1580px;
  left: 914px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 9px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 31.208173751831055px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro169-trophy21 {
  top: 1576px;
  left: 1040px;
  width: 24px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle534 {
  top: 1361.10107421875px;
  left: 1444.8271484375px;
  width: 207px;
  height: 115px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 11.376139640808105px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle535 {
  top: 1394.091796875px;
  left: 1460.7529296875px;
  width: 96px;
  height: 9px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 22.75227928161621px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle536 {
  top: 1407.742919921875px;
  left: 1460.7529296875px;
  width: 68px;
  height: 7px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 22.75227928161621px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle537 {
  top: 1427.082763671875px;
  left: 1460.7529296875px;
  width: 83px;
  height: 5px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 22.75227928161621px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle538 {
  top: 1443.0087890625px;
  left: 1460.7529296875px;
  width: 83px;
  height: 5px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 22.75227928161621px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle539 {
  top: 1450.972412109375px;
  left: 1460.7529296875px;
  width: 83px;
  height: 5px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 22.75227928161621px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle540 {
  top: 1435.0458984375px;
  left: 1460.7529296875px;
  width: 74px;
  height: 5px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 22.75227928161621px;
  margin-bottom: 0;
}
.mac-book-pro169-text63 {
  top: 1374.75244140625px;
  left: 1460.7529296875px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 9.100912094116211px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 35.50285720825195px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro169-polygon3 {
  top: 1438.1806640625px;
  left: 1603.279296875px;
  width: 26px;
  height: 26px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-ellipse341 {
  top: 1352px;
  left: 1438px;
  width: 26px;
  height: 26px;
  position: absolute;
  box-sizing: border-box;
  border-color: rgba(239, 240, 242, 1);
  border-style: solid;
  border-width: 1.1376140117645264px;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-medal1 {
  top: 1374.75244140625px;
  left: 1607.5048828125px;
  width: 27px;
  height: 27px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle541 {
  top: 1406.084228515625px;
  left: 1044px;
  width: 70px;
  height: 70px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 11.010353088378906px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle544 {
  top: 1686.625244140625px;
  left: 1549px;
  width: 91px;
  height: 70px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 11.010353088378906px;
  margin-bottom: 0;
}
.mac-book-pro169-frame {
  top: 1410.9326171875px;
  left: 1053.9091796875px;
  width: 54px;
  height: 54px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle542 {
  top: 1764px;
  left: 1061px;
  width: 190px;
  height: 62px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 10px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle543 {
  top: 1770px;
  left: 1068px;
  width: 53px;
  height: 49px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 8px;
  margin-bottom: 0;
}
.mac-book-pro169-flame {
  top: 1779px;
  left: 1079px;
  width: 31px;
  height: 31px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-text65 {
  top: 1764px;
  left: 1139px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 24px;
  align-self: auto;
  font-style: SemiBold;
  text-align: left;
  font-family: Poppins;
  font-weight: 600;
  line-height: 34.030189514160156px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro169-startup4 {
  top: 1681px;
  left: 1578px;
  width: 50px;
  height: 50px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle546 {
  top: 1952px;
  left: 98px;
  width: 1522px;
  height: 665px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 40px;
  margin-bottom: 0;
}
.mac-book-pro169-text67 {
  top: 2044px;
  left: 168px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 40px;
  align-self: auto;
  font-style: Bold;
  text-align: left;
  font-family: Poppins;
  font-weight: 700;
  line-height: 54.43307113647461px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro169-text69 {
  top: 2163px;
  left: 168px;
  color: rgba(45, 45, 45, 1);
  height: auto;
  position: absolute;
  font-size: 20px;
  align-self: auto;
  font-style: Medium;
  text-align: left;
  font-family: Poppins;
  font-weight: 500;
  line-height: 40.93307113647461px;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.mac-book-pro169-rectangle547 {
  top: 2123px;
  left: 868px;
  width: 104px;
  height: 104px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle553 {
  top: 2236px;
  left: 1000px;
  width: 104px;
  height: 104px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle557 {
  top: 2236px;
  left: 1184px;
  width: 104px;
  height: 104px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle558 {
  top: 2103px;
  left: 1174px;
  width: 130px;
  height: 130px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle569 {
  top: 1984px;
  left: 979px;
  width: 219px;
  height: 112px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle561 {
  top: 2120px;
  left: 1313px;
  width: 104px;
  height: 104px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle566 {
  top: 2456px;
  left: 1261px;
  width: 130px;
  height: 130px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle563 {
  top: 2120px;
  left: 1445px;
  width: 130px;
  height: 130px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle549 {
  top: 2258px;
  left: 644px;
  width: 104px;
  height: 104px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle550 {
  top: 2380px;
  left: 644px;
  width: 166px;
  height: 130px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle564 {
  top: 2260px;
  left: 356px;
  width: 140px;
  height: 130px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle565 {
  top: 2398px;
  left: 265px;
  width: 104px;
  height: 104px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle567 {
  top: 2315px;
  left: 110px;
  width: 130px;
  height: 130px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle568 {
  top: 2450px;
  right: 95px;
  width: 163px;
  height: 141px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle555 {
  top: 2550px;
  left: 780px;
  width: 104px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle556 {
  top: 2550px;
  left: 1116px;
  width: 104px;
  height: 65px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px 20px 0 0;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle554 {
  top: 2380px;
  left: 905px;
  width: 150px;
  height: 130px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle551 {
  top: 2328px;
  left: 496px;
  width: 104px;
  height: 104px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle562 {
  top: 2438px;
  left: 411px;
  width: 140px;
  height: 130px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle548 {
  top: 2175px;
  left: 936px;
  width: 130px;
  height: 130px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-rectangle559 {
  top: 2296px;
  left: 1261px;
  width: 213px;
  height: 128px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  border-radius: 20px;
  margin-bottom: 0;
}
.mac-book-pro169-hompage-client-logo12 {
  top: 2461px;
  left: 1261px;
  width: 130px;
  height: 106px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-hompage-client-logo9 {
  top: 2331px;
  left: 115px;
  width: 102px;
  height: 85px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-hompage-client-logo5 {
  top: 2186px;
  left: 936px;
  width: 130px;
  height: 106px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-frame1 {
  top: 2125px;
  left: 1450px;
  width: 120px;
  height: 120px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.mac-book-pro169-group {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-vector3 {
  top: 0px;
  left: 0px;
  width: 120px;
  height: 120px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-vector4 {
  top: 89.8755111694336px;
  left: 5.290456295013428px;
  width: 109px;
  height: 8px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-vector5 {
  top: 22.15767478942871px;
  left: 12.448132514953613px;
  width: 95px;
  height: 64px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-mainlogoalt1 {
  top: 2431px;
  left: 662px;
  width: 113px;
  height: 24px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-joyalukaslogonew1 {
  top: 2343px;
  left: 1287px;
  width: 138px;
  height: 29px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-lukerlogo1 {
  top: 2473px;
  left: 427px;
  width: 97px;
  height: 46px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-frame2 {
  top: 2421px;
  left: 918px;
  width: 125px;
  height: 56px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.mac-book-pro169-x-m-l-i-d2 {
  top: -0.028833335265517235px;
  left: -3.637978807091713e-12px;
  width: 97px;
  height: 46px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-x-m-l-i-d9 {
  top: 16.678428649902344px;
  left: -3.637978807091713e-12px;
  width: 91px;
  height: 19px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-x-m-l-i-d5 {
  top: 0px;
  right: -18px;
  width: 21px;
  height: 47px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-frame3 {
  top: 2499px;
  right: 126px;
  width: 115px;
  height: 39px;
  position: absolute;
  box-sizing: border-box;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-thehindunewspaperseeklogo1 {
  top: 2027px;
  left: 1009px;
  width: 155px;
  height: 16px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
.mac-book-pro169-frame4 {
  top: 2117px;
  left: 1186px;
  width: 106px;
  height: 106px;
  display: flex;
  overflow: hidden;
  position: absolute;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
}
.mac-book-pro169-group1 {
  top: 0px;
  left: 0px;
  width: 106px;
  height: 105.97933959960938px;
  display: flex;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.mac-book-pro169-vector6 {
  top: 0px;
  left: 0px;
  width: 106px;
  height: 106px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-vector7 {
  top: 36.4375px;
  left: 13.229076385498047px;
  width: 80px;
  height: 33px;
  position: absolute;
  box-sizing: border-box;
}
.mac-book-pro169-p-logo1 {
  top: 2307px;
  left: 368px;
  width: 97px;
  height: 33px;
  position: absolute;
  box-sizing: border-box;
  border-color: transparent;
  margin-right: 0;
  margin-bottom: 0;
}
